# paths / folders to ignore
**/net7.0/
**/bin/
**obj/

# files with specified extensions should be ignored
.wasm
.dll
.gz
.cache
.editorconfig

# task and launch json files for vs code to be ignored
launch.json
task.json
/.vs/SolutionPortalBeta/FileContentIndex/b4698c3c-57e8-43a3-9c08-b59b90d8ddeb.vsidx
*.vsidx
/SolutionPortalBeta/Client/obj/Debug/net7.0/SolutionPortalBeta.Client.csproj.AssemblyReference.cache
/SolutionPortalBeta/Server/obj/Debug/net7.0/SolutionPortalBeta.Server.csproj.AssemblyReference.cache
SolutionPortalBeta/Server/obj/Debug/net7.0/SolutionPortalBeta.Server.GeneratedMSBuildEditorConfig.editorconfig
SolutionPortalBeta/Shared/obj/Debug/net7.0/SolutionPortalBeta.Shared.assets.cache
SolutionPortalBeta/Shared/obj/Debug/net7.0/SolutionPortalBeta.Shared.csproj.AssemblyReference.cache
SolutionPortalBeta/Shared/obj/Debug/net7.0/SolutionPortalBeta.Shared.GeneratedMSBuildEditorConfig.editorconfig
