.company-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

h1.title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  width: 100%;
}

.create-btn {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}

.company-list {
  background-color: white;
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 95%;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
}

.company {
  background-color: whitesmoke;
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height:max-content;
  cursor: pointer;
}
.company:hover {
  box-shadow: none;
}
.manage-comp {
  display: flex;
  gap: 1rem;
}

    .manage-comp .mg-btn {
        text-decoration: none;
        background-color: rgb(95, 158, 160);
        padding: 0.5rem;
        border-radius: 0.3rem;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 12px;
    }

.mg-btn:hover {
    transform: scale(95%);
}
.manage-comp .mg-btn-d {
    text-decoration: none;
    background-color: RGB(255,14,14);
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 12px;
}

.mg-btn:hover, .mg-btn-d:hover{
    transform: scale(95%);
}
@media screen and (max-width: 900px) {
    .company {
        flex-direction:column;
        align-items:flex-start;
        overflow:hidden;
    }
    .manage-comp{
        justify-content:center;
        align-items:center;
        width:100%;
    }
    .manage-comp .mg-btn, .manage-comp .mg-btn-d {
        font-size: 12px;
    }
}