/* 
h1.title {
<<<<<<< Updated upstream
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
=======
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  /* width: 100%; */
>>>>>>> Stashed changes
}

.create-com {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.create-com-form {
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
}

.create-com-form .form {
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 95%;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
  font-size: 20px;
  font-weight: 500;
  gap: 1rem;
  width: 100%;
}

.form-group input {
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.form-group input:focus {
  box-shadow: none;
}

.dept-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.dept-add .form-group {
  width: 100%;
}

@media screen and (max-width: 850px) {
<<<<<<< Updated upstream
    .create-com-form {
        width: 100%;
    }
} */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  background-color: rgba(0, 0, 0, 0.234);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: grid;
  place-items: center;
}
.none {
  display: none;
}
.modal {
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.closebtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-container span {
  background-color: rgb(95, 158, 160);
  border-radius: 0.2rem;
  display: grid;
  place-items: center;
  padding: 0.1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.modal-content {
  width: 95%;
  height: 95%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

.modal-header h3 {
  font-size: 30px;
  flex: 1;
}
.modal-header .time-stat {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.modal-header .time-stat p {
  font-size: 13px;
  font-weight: bold;
}

.modal-header .time-stat small {
  font-size: 12px;
}

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.modal-desc {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  width: 100%;
}

.modal-desc label {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.modal-desc textarea {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  padding: 1rem;
  height: 120px;
  overflow: auto;
}

.modal-atch {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.modal-atchs {
  display: flex;
  gap: 0.4rem;
}

.modal-res {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  width: 100%;
}

.modal-res label {
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  /* font-family: "Space Grotesk", sans-serif; */
}

.modal-res input {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  padding: 1rem;
}

.modal-main button {
  width: 20%;
}
input {
  border: 1px solid rgba(156, 155, 155, 0.5);
  padding: 1rem;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
=======
  .create-com-form {
    width: 100%;
>>>>>>> Stashed changes
  }
}
