.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  background-color: rgba(0, 0, 0, 0.634);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: grid;
  place-items: center;
}
.none {
  display: none;
}
.modal {
  background-color: whitesmoke;
  width: 50%;
  height: 60%;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.closebtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-container span {
  background-color: rgb(95, 158, 160);
  border-radius: 0.2rem;
  display: grid;
  place-items: center;
  padding: 0.1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.modal-content {
  width: 95%;
  height: 95%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

    .modal-header h3 {
      font-size: 30px;
      flex: 1;
    }

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

    .modal-main .form{
        display: grid;
        flex:1;
        place-items: center;
        gap: 0.5rem;
        width: 100%;
    }

.form-group{
    display:grid;
    place-items:center;
    gap:0.5rem;
    width:100%;
}

    .form-group label {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        font-family: "Space Grotesk", sans-serif;
    }

    .form-group input {
        width: 100%;
        border: 1px solid rgba(156, 155, 155, 0.5);
        padding: 1rem;
        border-radius:.5rem;
        outline: none;
        font-family: "Inter", sans-serif;
        font-size: 18px;
    }

.modal-res {
    display: grid;
    place-items: center;
    gap: 0.5rem;
    width: 100%;
}

    .modal-res label {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        font-family: "Space Grotesk", sans-serif;
    }

    .modal-res input {
      width: 100%;
      resize: none;
      border-radius: 0.3rem;
      padding: 1rem;
    }

.modal-main button {
  width: 40%;
}
input {
  border: 1px solid rgba(156, 155, 155, 0.5);
  padding: 1rem;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
