@page "/createdepartment/{companyName}/{id:int}"
@inject IJSRuntime JSRuntime
@using SolutionPortalBeta.Shared
@inject HttpClient Http
@inject IDepartmentService DepartmentService

@*<div class="containerd">
    <div class="top bckgmt"><div class="title">Create Department</div></div>
    <h4>@companyName</h4>
    <div class="main">
        <label for="companyName">Department Name</label>
        <div class="inpttxt">
            <input type="text"
                   name="companyName"
                   id=""
                   placeholder="Enter department name" 
                   @bind="department.Name"/>
            <input type="text"
                   name="companyName"
                   id=""
                   placeholder="Enter department username"
            @bind="department.UserName" />
            <div class="button">
                <button class="bckgmt" @onclick="save">Add</button>
            </div>
        </div>
    </div>
    <div class="dept-list">
        @foreach( var dept in departments.OrderBy(dept => dept.Id))
        {
            <div class="dept-name">@dept.Name</div>
        }
    </div>
    <div class="button">
        <button class="bckgmt">Submit</button>
    </div>
</div>*@
<div class="create-com">
    <h1 class="title">Create Company</h1>
    <div class="create-com-form">
        <form action="">
            <div class="form-group">
                <label for="name">Department Name:</label>
                <input type="text" id="name" class="form-control" />
            </div>
            <button>Add Department</button>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    [Parameter]
    public string companyName { get; set; }

    public DepartmentModel department = new DepartmentModel();

    List<DepartmentModel> departments = new List<DepartmentModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"api/department/company/{id}");
        departments = await response.Content.ReadFromJsonAsync<List<DepartmentModel>>();
    }

    protected async Task save()
    {
        var depid = id;
        if (department != null)
        {
            department.CompanyId = id;
            await DepartmentService.AddDepartment(department);
            await JSRuntime.InvokeVoidAsync("alert", "oga e work!");
        }
    }
}
