@page "/createdept"

<div class="containerd">
    <div class="top bckgmt"><div class="title">Create Department</div></div>
    <div class="main">
        <label for="companyName">Department Name</label>
        <div class="inpttxt">
            <input type="text"
                   name="companyName"
                   id=""
                   placeholder="Enter department name" />
            <div class="button">
                <button class="bckgmt">Add</button>
            </div>
        </div>
    </div>
    <div class="dept-list">
        <div class="dept-name">Department Name</div>
        <div class="dept-name">Department Name</div>
        <div class="dept-name">Department Name</div>
        <div class="dept-name">Department Name</div>
    </div>
    <div class="button">
        <button class="bckgmt">Submit</button>
    </div>
</div>
@code {

}
