@page "/faqlist"
@using SolutionPortalBeta.Shared;
@inject NavigationManager nav
@inject HttpClient _httpClient

@*<div class="containerm">
    <Sidebar/>
    <main>
        <div class="top bckgm"><div class="title">FAQs list</div></div>
        <div class="create-btn"><button class="bckgmd" @onclick="gotoFaq" >Create FAQ</button></div>
        <div class="list-container">
            @foreach (var faq in fAQs.OrderBy(faq=>faq.Id))
            {
                <a>
                    <h3>@faq.Title</h3>
                    <p>@faq.Description</p>
                </a>
            }
        </div>
    </main>
</div>*@
<div class="admin-main">
    <Sidebar/>
    <div class="faq-container">
        <h1 class="title">FAQ List</h1>
        <div class="create-btn">
            <button @onclick="gotoFaq">Create FAQ</button>
        </div>
        <div class="faq-list">
            @foreach (var faq in fAQs.OrderBy(faq => faq.Id))
            {
                <div class="faq">
                    <h3>@faq.Title</h3>
                    <div class="manage-comp">
                        <a class="mg-btn" >Edit FAQ</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    List<FAQModel> fAQs = new List<FAQModel>();
    public void gotoFaq()
    {
        nav.NavigateTo("createfaq");
    }
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/Faq/");
        fAQs = await response.Content.ReadFromJsonAsync<List<FAQModel>>();
    }
}
