@page "/faqlist"

<div class="containerm">
    @*<button class="btn btn-primary">Create New Faq</button>
    <button class="btn btn-primary">Back</button>*@
    <Sidebar/>
    <main>
        <div class="top bckgm"><div class="title">FAQs list</div></div>
    </main>
</div>

@code {

}
