@inject NavigationManager _nav


<aside>
    <div class="side-bar">
        <a @onclick="goToDashborad">
            <span class="material-symbols-rounded"> grid_view </span>
            <h5>Dashboard</h5>
        </a>
        <a @onclick="goToCompanies">
            <span class="material-symbols-rounded"> group </span>
            <h5>Companies</h5>
        </a>
        <a @onclick="goToComplaints">
            <span class="material-symbols-rounded">receipt_long </span>
            <h5>Complaints</h5>
        </a>
        <a @onclick="goToFaqs">
            <span class="material-symbols-rounded"> report</span>
            <h5>FAQs</h5>
        </a>
    </div>
</aside>


@code {
    public void goToCompanies()
    {
        _nav.NavigateTo("companies");
    }
    public void goToComplaints()
    {
        _nav.NavigateTo("complaintlist");
    }
    public void goToFaqs()
    {
        _nav.NavigateTo("faqlist");
    }
    public void goToDashborad()
    {
        _nav.NavigateTo("admin");
    }
}
