/* /Pages/AdminView/AdminIndex.razor.rz.scp.css */
:root[b-tlor3qs2yp] {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: white;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables[b-tlor3qs2yp] {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.containerm[b-tlor3qs2yp]{
    display:grid;
    width:100%;
    padding:0;
    grid-template-columns: 20rem auto;
    gap:2rem;
}

main[b-tlor3qs2yp]{
    width:100%;
    padding:2rem 4rem .5rem;
}

main a[b-tlor3qs2yp] {
    color: var(--color-dark);
}

main img[b-tlor3qs2yp] {
    display: block;
    width: 100%;
}

main .profile-photo[b-tlor3qs2yp] {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

main .text-muted[b-tlor3qs2yp] {
    color: var(--color-info-dark);
}

main p[b-tlor3qs2yp] {
    color: var(--color-dark-variant);
}

main b[b-tlor3qs2yp] {
    color: var(--color-dark);
}

main .primary[b-tlor3qs2yp] {
    color: var(--color-primary);
}

main .danger[b-tlor3qs2yp] {
    color: var(--color-danger);
}

main .success[b-tlor3qs2yp] {
    color: var(--color-success);
}

main .warning[b-tlor3qs2yp] {
    color: var(--color-warning);
}

    main .top[b-tlor3qs2yp] {
        padding: 1rem 2rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }
        main .top .title[b-tlor3qs2yp] {
            font-size: 40px;
            color: white;
            font-weight: 700;
        }

    main .date[b-tlor3qs2yp] {
        display: inline-block;
        background: var(--color-light);
        border-radius: var(--border-radius-1);
        margin-top: 1rem;
        padding: 0.5rem 1.6rem;
    }

        main .date input[type="date"][b-tlor3qs2yp] {
            background: transparent;
            color: var(--color-dark);
        }

    main .insights[b-tlor3qs2yp] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }

        main .insights > div[b-tlor3qs2yp] {
            background: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            
            transition: all 300ms ease;
            box-shadow: var(--box-shadow);
        }

            main .insights > div:hover[b-tlor3qs2yp] {
                box-shadow: var(--box-shadow);
            }

            main .insights > div span[b-tlor3qs2yp] {
                background: var(--color-primary);
                padding: 0.5rem;
                border-radius: 50%;
                color: var(--color-white);
                font-size: 2rem;
                margin-bottom: 10px;
            }

            main .insights > div.expenses span[b-tlor3qs2yp] {
                background: var(--color-danger);
            }

            main .insights > div.income span[b-tlor3qs2yp] {
                background: var(--color-success);
            }

            main .insights > div .middle[b-tlor3qs2yp] {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

        main .insights h1[b-tlor3qs2yp] {
            margin: 1rem 0 0.6rem;
            font-size: 25px;
            font-weight:600;
        }
        main .insights h3[b-tlor3qs2yp]{
            font-size:23px;
        }
        main .insights small[b-tlor3qs2yp] {
            margin-top: 1.6rem;
            display: block;
        }

    main .recent-orders[b-tlor3qs2yp] {
        margin-top: 2rem;
    }

        main .recent-orders .top[b-tlor3qs2yp] {
            margin: 1rem 0 1.7rem;
            font-size: 27px;
            padding: .7rem 2rem;
        }
            main .recent-orders .top .title[b-tlor3qs2yp]{
                font-size:30px;
            }
            main .recent-orders table[b-tlor3qs2yp] {
                background: var(--color-white);
                width: 100%;
                border-radius: var(--card-border-radius);
                padding: var(--card-padding);
                text-align: center;
                box-shadow: var(--box-shadow);
                transition: all 300ms ease;
            }

            main .recent-orders table:hover[b-tlor3qs2yp] {
                box-shadow: var(--box-shadow);
            }

    main table thead tr th[b-tlor3qs2yp] {
        text-align: center;
        padding: 20px;
        font-size: 1.5rem;
    }

    main table tbody td[b-tlor3qs2yp] {
        height: 2.8rem;
        padding: 20px;
        border-bottom: 1px solid var(--color-light);
        color: var(--color-dark-variant);
    }

    main table tbody tr:last-child td[b-tlor3qs2yp] {
        border: none;
        margin-bottom: 20px;
    }

    main .recent-orders a[b-tlor3qs2yp] {
        text-align: center;
        display: block;
        margin: 1rem auto;
        color: var(--color-primary);
    }
/* /Pages/AdminView/CompanyList.razor.rz.scp.css */
main[b-51ajcx9lwx] {
    padding: 2rem 4rem .5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
main .top[b-51ajcx9lwx] {
    padding: 1rem 2rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

    main .top .title[b-51ajcx9lwx] {
        font-size: 40px;
        color: white;
        font-weight: 700;
    }
    main .create-btn[b-51ajcx9lwx]{
        display:flex;
        justify-content:flex-end
    }
        main .create-btn button[b-51ajcx9lwx] {
            padding: 1rem;
            border-radius: 10px;
            outline:none;
            border:none;
            color:white;
            width:15%;
        }
        main .create-btn button:hover[b-51ajcx9lwx]{
            font-weight:600;
        }

    main .list-container[b-51ajcx9lwx] {
        background-color: whitesmoke;
        padding: 2rem 1.5rem;
        border-radius: 10px;
        display: grid;
        gap: 1rem;
    }
        main .list-container div[b-51ajcx9lwx] {
            display: flex;
            gap: 1rem;
            justify-content:space-between;
            align-items:center;
            background-color: white;
            padding:1rem;
            border-radius:.7rem;
        }
        main .list-container div p[b-51ajcx9lwx]{
            font-size:30px;
            font-weight:600;
        }
            main .list-container div a[b-51ajcx9lwx] {
                text-decoration: none;
                color: white;
                font-weight: 500;
                font-size: 20px;
                padding: 1rem;
                border-radius: .7rem;
                width:19%;
                display:flex;
                justify-content:center;
                align-items:center;
            }
                main .list-container div a:hover[b-51ajcx9lwx] {
                    font-weight: 700;
                }
/* /Pages/AdminView/CreateCompany.razor.rz.scp.css */
.containerr[b-kv8hjw2cwh] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

    .containerr .top[b-kv8hjw2cwh] {
       
        padding: 1rem 2rem;
        width: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

        .containerr .top .title[b-kv8hjw2cwh] {
            font-size: 50px;
            color: white;
            font-weight: 700;
        }

.main[b-kv8hjw2cwh] {
    background-color: white;
    padding: 1.7rem 3rem 2rem;
    display: grid;
    gap: 0.8rem;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}
    .main div[b-kv8hjw2cwh]{
        display:grid;
        gap:1rem;
    }

    .main label[b-kv8hjw2cwh] {
        font-size: 30px;
        font-weight: 500;
    }

    .main input[b-kv8hjw2cwh] {
        padding: 1rem 1.5rem;
        border-radius: 0.7rem;
        border: 1px solid lightgray;
        outline: none;
        font-size: 20px;
        width:100%;
    }

.containerr .button[b-kv8hjw2cwh] {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

    .containerr .button button[b-kv8hjw2cwh] {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        height: 3.5rem;
        outline: none;
        background-blend-mode: darken;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: 700;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .containerr .button button:hover[b-kv8hjw2cwh] {
            color: black;
        }
/* /Pages/AdminView/CreateDepartment.razor.rz.scp.css */
.containerd[b-7u3ru2c3vi] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

    .containerd .top[b-7u3ru2c3vi] {
        
        padding: 1rem 2rem;
        width: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

        .containerd .top .title[b-7u3ru2c3vi] {
            font-size: 40px;
            color: white;
            font-weight: 700;
        }

.main[b-7u3ru2c3vi] {
    background-color: white;
    padding: 1.7rem 3rem;
    display: grid;
    gap: 0.8rem;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}

    .main label[b-7u3ru2c3vi] {
        font-size: 20px;
        font-weight: 500;
    }

    .main .inpttxt[b-7u3ru2c3vi] {
        display: flex;
    }

        .main .inpttxt input[b-7u3ru2c3vi] {
            padding: .6rem 1.5rem;
            border-radius: 0.7rem 0rem 0rem 0.7rem;
            border: 1px solid lightgray;
            border-right: none;
            outline: none;
            height:80%;
            font-size: 20px;
            width: 90%;
        }

        .main .inpttxt .button[b-7u3ru2c3vi] {
            width: 10%;
         
            display: flex;
        }

            .main .inpttxt .button button[b-7u3ru2c3vi] {
                height: 80%;
                width: 100%;
                border-radius: 0rem 0.7rem 0.7rem 0rem;
            }

.containerd .button[b-7u3ru2c3vi] {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

    .containerd .button button[b-7u3ru2c3vi] {
        width:15%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 1.5rem;
        height: 3.5rem;
        outline: none;
        background-blend-mode: darken;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: 700;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .containerd .button button:hover[b-7u3ru2c3vi] {
            color: black;
        }

.dept-list[b-7u3ru2c3vi] {
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
    display: grid;
    gap: 0.5rem;
    background-color: white;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}

    .dept-list div[b-7u3ru2c3vi] {
        font-size: 25px;
    }
/* /Pages/AdminView/DeptCreate.razor.rz.scp.css */
.containerd[b-nt59edfagq] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

    .containerd .top[b-nt59edfagq] {
        
        padding: 1rem 2rem;
        width: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

        .containerd .top .title[b-nt59edfagq] {
            font-size: 40px;
            color: white;
            font-weight: 700;
        }

.main[b-nt59edfagq] {
    background-color: white;
    padding: 1.7rem 3rem;
    display: grid;
    gap: 0.8rem;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}

    .main label[b-nt59edfagq] {
        font-size: 20px;
        font-weight: 500;
    }

    .main .inpttxt[b-nt59edfagq] {
        display: flex;
    }

        .main .inpttxt input[b-nt59edfagq] {
            padding: 1rem 1.5rem;
            border-radius: 0.7rem 0rem 0rem 0.7rem;
            border: 1px solid lightgray;
            border-right: none;
            outline: none;
            font-size: 20px;
            width: 90%;
        }

        .main .inpttxt .button[b-nt59edfagq] {
            width: 10%;
            display: flex;
        }

            .main .inpttxt .button button[b-nt59edfagq] {
                width: 100%;
                border-radius: 0rem 0.7rem 0.7rem 0rem;
            }

.containerd .button[b-nt59edfagq] {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

    .containerd .button button[b-nt59edfagq] {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        height: 3.5rem;
        outline: none;
        
        background-blend-mode: darken;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: 700;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .containerd .button button:hover[b-nt59edfagq] {
            color: black;
        }

.dept-list[b-nt59edfagq] {
    width: 70%;
    padding: 2rem;
    border-radius: 10px;
    display: grid;
    gap: 0.5rem;
    background-color: white;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}

    .dept-list div[b-nt59edfagq] {
        font-size: 25px;
    }
/* /Pages/AdminView/FaqList.razor.rz.scp.css */
main[b-8e4v93fhdr] {
    padding: 2rem 4rem .5rem;
}
 .top[b-8e4v93fhdr] {
    padding: 1rem 2rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

     .top .title[b-8e4v93fhdr] {
        font-size: 40px;
        color: white;
        font-weight: 700;
    }
/* /Pages/AdminView/ListOfComplaints.razor.rz.scp.css */
main[b-3z5ydb55y6] {
    padding: 2rem 4rem .5rem;
}
    main .top[b-3z5ydb55y6] {
        padding: 1rem 2rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

        main .top .title[b-3z5ydb55y6] {
            font-size: 40px;
            color: white;
            font-weight: 700;
        }
main .recent-orders[b-3z5ydb55y6] {
    padding:2rem 0;
}


    main .recent-orders table[b-3z5ydb55y6] {
        background: var(--color-white);
        width: 100%;
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
        text-align: center;
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
    }

        main .recent-orders table:hover[b-3z5ydb55y6] {
            box-shadow: var(--box-shadow);
        }

main table thead tr th[b-3z5ydb55y6] {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

main table tbody td[b-3z5ydb55y6] {
    height: 2.8rem;
    padding: 20px;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td[b-3z5ydb55y6] {
    border: none;
    margin-bottom: 20px;
}

main .recent-orders a[b-3z5ydb55y6] {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
main .recent-orders .topp[b-3z5ydb55y6]{
    display:flex;
    justify-content: space-between;
}
/* /Pages/AdminView/Sidebar.razor.rz.scp.css */
aside[b-dalomws2ey] {
    height: 100vh;
    box-shadow: 24px 0px 22px 3px rgba(0,0,0,0.1);
    border-radius: 0rem 2rem 2rem 0rem;
    width: 100%;
}

    aside .top[b-dalomws2ey] {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }

    aside .logo[b-dalomws2ey] {
        display: flex;
        gap: 0.8rem;
    }

        aside .logo img[b-dalomws2ey] {
            width: 2rem;
            height: 2rem;
        }

    aside .close[b-dalomws2ey] {
        display: none;
    }

    /*======================SIDEBAR===================*/
    aside .sidebar[b-dalomws2ey] {
        display: flex;
        flex-direction: column;
        height: 90vh;
        position: relative;
        top: 3rem;
        gap: 2rem;
    }

    aside a h4[b-dalomws2ey] {
        font-weight: 500;
    }

    aside .sidebar a[b-dalomws2ey] {
        text-decoration: none;
        display: flex;
        color: var(--color-info-dark);
        margin-left: 2rem;
        gap: 1rem;
        align-items: center;
        position: relative;
        height: 3.7rem;
        transition: all 300ms ease;
        width: 100%;
    }

        aside .sidebar a span[b-dalomws2ey] {
            font-size: 1.6rem;
            transition: all 300ms ease;
        }

        aside .sidebar a:last-child[b-dalomws2ey] {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        aside .sidebar a.active[b-dalomws2ey] {
            background: var(--color-light);
            color: var(--color-primary);
            margin-left: 0;
        }

            aside .sidebar a.active[b-dalomws2ey]::before {
                content: "";
                width: 6px;
                height: 100%;
                background: var(--color-primary);
            }

            aside .sidebar a.active span[b-dalomws2ey] {
                color: var(--color-primary);
                margin-left: calc(1rem - 3px);
            }

        aside .sidebar a:hover[b-dalomws2ey] {
            color: var(--color-primary);
            cursor:pointer;

        }


            aside .sidebar a:hover span[b-dalomws2ey] {
                margin-left: 1rem;
            }

    aside .sidebar .message-count[b-dalomws2ey] {
        background: var(--color-danger);
        color: var(--color-white);
        padding: 2px 10px;
        font-size: 11px;
        border-radius: var(--border-radius-1);
    }
/* /Pages/Faq.razor.rz.scp.css */
.q-container[b-55edcrhtbr] {
    background-color: transparent;
    height: 100vh;
    display: grid;
    place-items: center;
}

    .q-container .main[b-55edcrhtbr] {
        height: 100%;
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        /* background-color: red; */
    }

        .q-container .main .profile-icon[b-55edcrhtbr] {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem;
            cursor: pointer;
            /* background-color: aqua; */
        }

.profile-icon .icon[b-55edcrhtbr] {
    font-weight: 700;
    font-size: 20px;
}

.profile-icon img[b-55edcrhtbr] {
    border-radius: 50%;
}

.search[b-55edcrhtbr] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backbtn[b-55edcrhtbr] {
    margin-top: 1rem;
}

    .backbtn i[b-55edcrhtbr] {
        background-color: #d0cdc5;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
    }

.search[b-55edcrhtbr] {
    margin-bottom: 2rem;
}

    .search input[b-55edcrhtbr] {
        padding: 20px;
        width: 70%;
        outline: none;
        border: 1px solid #d0cdc5;
        border-right: none;
        border-radius: 1rem 0rem 0rem 1rem;
        font-size: 15px;
    }

        .search input:hover[b-55edcrhtbr] {
            border: 1px solid black;
            border-right: none;
        }

        .search input[b-55edcrhtbr]::selection {
            background-color: black;
            color: white;
        }

        .search input:focus[b-55edcrhtbr] {
            border: 1px solid rgb(85, 85, 85);
        }

    .search button[b-55edcrhtbr] {
        padding: 20px;
        outline: none;
        border: 1px solid black;
        background-color: black;
        color: white;
        border-radius: 0rem 1rem 1rem 0rem;
        cursor: pointer;
        font-weight: 500;
    }

        .search button:hover[b-55edcrhtbr] {
            font-weight: 600;
        }

.links[b-55edcrhtbr] {
    display: grid;
    gap: 1rem;
}

    .links .link[b-55edcrhtbr] {
        background-color: #d0cdc5;
        padding: 20px 40px;
        cursor: pointer;
        border-radius: 1rem;
    }
/* /Pages/LogForm.razor.rz.scp.css */
.f-container[b-qvmdl33rat] {
    background-color: transparent;
    height: 100vh;
    display: grid;
    place-items: center;
}

    .f-container .main[b-qvmdl33rat] {
        height: 100%;
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* background-color: red; */
    }

        .f-container .main .profile-icon[b-qvmdl33rat] {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem;
            cursor: pointer;
            /* background-color: aqua; */
        }

.profile-icon .icon[b-qvmdl33rat] {
    font-weight: 700;
    font-size: 20px;
}

.profile-icon img[b-qvmdl33rat] {
    border-radius: 50%;
}

.top[b-qvmdl33rat] {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .top .title[b-qvmdl33rat] {
        background-color: blanchedalmond;
        
        background-blend-mode: darken;
        height: 5rem;
        width: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 50px;
        font-size: 50px;
        color: white;
        font-weight: 600;
        border-radius: 10px;
    }

.mainform[b-qvmdl33rat] {
    /* background-color: beige; */
    display: grid;
    place-items: center;
}

    .mainform form[b-qvmdl33rat] {
        background-color: whitesmoke;
        width: 80%;
        padding: 1.7rem 3rem;
        display: grid;
        gap: 0.5rem;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.295);
    }

        .mainform form .form-input[b-qvmdl33rat] {
            /* background-color: rebeccapurple; */
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

            .mainform form .form-input label[b-qvmdl33rat] {
                font-size: 20px;
                font-weight: 700;
                width: 20%;
            }

            .mainform form .form-input input[b-qvmdl33rat],
            .mainform form .form-input select[b-qvmdl33rat],
            .mainform form .form-input textarea[b-qvmdl33rat] {
                padding: 15px;
                width: 60%;
                outline: none;
                border-radius: 10px;
                border: 1px solid #d0cdc5;
            }

                .mainform form .form-input input:hover[b-qvmdl33rat],
                .mainform form .form-input select:hover[b-qvmdl33rat],
                .mainform form .form-input textarea:hover[b-qvmdl33rat],
                .mainform form .form-input input:focus[b-qvmdl33rat],
                .mainform form .form-input select:focus[b-qvmdl33rat],
                .mainform form .form-input textarea:focus[b-qvmdl33rat] {
                    border: 1px solid black;
                }

                .mainform form .form-input input[b-qvmdl33rat]::selection,
                .mainform form .form-input select[b-qvmdl33rat]::selection,
                .mainform form .form-input textarea[b-qvmdl33rat]::selection {
                    background-color: black;
                    color: white;
                }

textarea[b-qvmdl33rat] {
    resize: none;
    overflow: auto;
}

.bottom[b-qvmdl33rat] {
    display: flex;
    justify-content: center;
}

    .bottom .btmbutton[b-qvmdl33rat] {
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }

        .bottom .btmbutton button[b-qvmdl33rat] {
            padding: 0 50px;
            height: 3.5rem;
            outline: none;
            
            background-blend-mode: darken;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 700;
            border-radius: 10px;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

            .bottom .btmbutton button:hover[b-qvmdl33rat] {
                color: black;
            }
/* /Pages/Post.razor.rz.scp.css */
.p-container[b-v6n8fxrjad] {
    background-color: transparent;
    height: 100vh;
    display: grid;
    place-items: center;
}

    .p-container .main[b-v6n8fxrjad] {
        height: 100%;
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: red; */
    }

        .p-container .main .profile-icon[b-v6n8fxrjad] {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem;
            cursor: pointer;
            /* background-color: aqua; */
        }

.profile-icon .icon[b-v6n8fxrjad] {
    font-weight: 700;
    font-size: 20px;
}

.profile-icon img[b-v6n8fxrjad] {
    border-radius: 50%;
}

.top[b-v6n8fxrjad] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg-sidebar-mobile2.png");
    background-blend-mode: darken;
    border-radius: 10px;
    background-color: blanchedalmond;
    background-repeat: repeat-x;
    background-size: cover;
}

    .top .title[b-v6n8fxrjad] {
        height: 5rem;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 50px;
        font-size: 50px;
        color: white;
        font-weight: 600;
    }

.backbtn i[b-v6n8fxrjad] {
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #f9818e;
    background-color: rgba(255, 255, 255, 0.171);
}

.post[b-v6n8fxrjad] {
    background-color: #d0cdc5;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5btdualfb3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5btdualfb3] {
    flex: 1;
}

.sidebar[b-5btdualfb3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5btdualfb3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5btdualfb3]  a, .top-row[b-5btdualfb3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5btdualfb3]  a:hover, .top-row[b-5btdualfb3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5btdualfb3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5btdualfb3] {
        display: none;
    }

    .top-row.auth[b-5btdualfb3] {
        justify-content: space-between;
    }

    .top-row[b-5btdualfb3]  a, .top-row[b-5btdualfb3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5btdualfb3] {
        flex-direction: row;
    }

    .sidebar[b-5btdualfb3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5btdualfb3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5btdualfb3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5btdualfb3], article[b-5btdualfb3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-0fv3rupxng] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0fv3rupxng] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0fv3rupxng] {
    font-size: 1.1rem;
}

.oi[b-0fv3rupxng] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0fv3rupxng] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0fv3rupxng] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0fv3rupxng] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0fv3rupxng]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-0fv3rupxng]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-0fv3rupxng]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-0fv3rupxng] {
        display: none;
    }

    .collapse[b-0fv3rupxng] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-0fv3rupxng] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
