@page "/faq"
@using SolutionPortalBeta.Shared;
@inject HttpClient _httpClient
@inject NavigationManager _nav

<div class="faq-container">
    <Nav />
    <div class="faq-header">
        <div class="back-title">
            <div class="go-back" @onclick="navToHome">
                <span class="material-symbols-rounded"> arrow_back </span>
            </div>
            <h1 class="title">FAQ List</h1>
        </div>
    </div>
    
    <div class="faq-list">
        @foreach (var faq in fAQs.OrderBy(faq => faq.Id))
        {
            <a class="faq" href="/post/@faq.Id">
                <h3>@faq.Title</h3>
            </a>
        }
    </div>
</div>
@code {
    List<FAQModel> fAQs = new List<FAQModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/Faq/");
        fAQs = await response.Content.ReadFromJsonAsync<List<FAQModel>>();
    }
    private void navToHome()
    {
        _nav.NavigateTo("/home");
    }

}
