@page "/faq"
@using SolutionPortalBeta.Shared;
@inject HttpClient _httpClient
@inject NavigationManager _nav

<div class="q-container">
    <div class="main">
        <div class="profile-icon">
            <div class="icon" @onclick="navToHome">iCON</div>
            <img src="nic.jpg" alt="" width="45" height="45" />
        </div>
        <div class="backbtn" @onclick="navToHome">
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </div>
        <div class="search">
            <input type="text" />
            <button>Search</button>
        </div>
        <div class="links">
            @foreach (var faq in fAQs.OrderBy(faq => faq.Id))
            {
                <a class="link" href="/post/@faq.Id">
                    <h2 class="maintxt">@faq.Title</h2>
                    <small class="subtxt">@faq.Description</small>
                </a>
            }
        </div>
    </div>
</div>

@code {
    List<FAQModel> fAQs = new List<FAQModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/Faq/");
        fAQs = await response.Content.ReadFromJsonAsync<List<FAQModel>>();
    }
    private void navToHome()
    {
        _nav.NavigateTo("/");
    }

}
