@page "/logform"
@using SolutionPortalBeta.Shared;
@inject NavigationManager _nav
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<div class="f-container">
    <div class="main">
        <div class="profile-icon">
            <div class="icon">iCON</div>
            <img src="nic.jpg" alt="" width="45" height="45" />
        </div>
        <div class="top"><div class="title bckgmt">Log Complaint</div></div>
        <div class="mainform">
            <form action="https://formsubmit.co/nikenna06@gmail.com" method="post">
                <input type="hidden" name="_template" value="table">
                <input type="hidden" name="_subject" value="New Complaint">
                <input type="hidden" name="_next" value="https://localhost:7182/">
                <input type="hidden" name="_captcha" value="true">
                <input type="hidden" name="_autoresponse" value="OK BRO">
                <div class="form-input">
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Enter name" @bind="complaint.Name"/>
                </div>
                <div class="form-input">
                    <label for="name">Role</label>
                    <select name="product" id="" @bind="complaint.Role">
                        <option value="none" selected disabled hidden>
                            Select Role
                        </option>
                        <option value="b1">Manager</option>
                        <option value="b1">Worker</option>
                        <option value="b1">Partner</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="product">Product</label>
                    <select name="product" id="" @bind="complaint.Product">
                        <option value="none" selected disabled hidden>
                            Select Product
                        </option>
                        <option value="b1">SAP B1</option>
                        <option value="b1">SAP BYD</option>
                        <option value="b1">SAP S4HANA</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="complaint">Complaint</label>
                    <textarea name="complaint"
                              id="complaint"
                              rows="10"
                              placeholder="Kindly let us know what problem you're facing" @bind="complaint.Description"></textarea>
                </div>
            </form>
        </div>
        <div class="bottom">
            <div class="btmbutton ">
                <button @onclick="Save" class="bckgmt">Submit</button>
            </div>
        </div>
    </div>
</div>

@code {
    //private void navToLoad()
    //{
    //    _nav.NavigateTo("loading.html");
    //}
    UserCompliantModel complaint = new UserCompliantModel();
    protected override async Task OnInitializedAsync()
    {
    }
    protected async Task Save()
    {
        var response = await Http.PostAsJsonAsync("api/usercomplaint", complaint);
        UserCompliantModel userCompliant = await response.Content.ReadFromJsonAsync<UserCompliantModel>();
        if (userCompliant?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Sent Successfully!");

        }
    }
}
