@page "/post/{Id:int}"
@inject NavigationManager _nav
@using Markdig 
@using SolutionPortalBeta.Shared
@inject IFaqService FaqService

<div class="p-container">
    <div class="main">
        <div class="profile-icon">
            <div class="icon" @onclick="navToHome">iCON</div>
            <img src="nic.jpg" alt="" width="45" height="45" />
        </div>
        <div class="top">
            <div class="backbtn" @onclick="navToFaq">
                <i class="fa-sharp fa-solid fa-arrow-left"></i>
            </div>
            <div class="title"><h2>@title</h2></div>
        </div>
        <div class="post">
            @((MarkupString)content)
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id {get; set;}

    public string title {get; set;}
    public string content {get; set;}

     FAQModel faq = new FAQModel();

    protected override async Task OnInitializedAsync(){
        var currentFaq = await FaqService.GetFAQbyId(Id);
        if(currentFaq != null){
           
         title = currentFaq.Title.ToString();
         var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
         content =Markdown.ToHtml(currentFaq.Content);
        }
    }


    private void navToHome()
    {
        _nav.NavigateTo("/");
    }
    private void navToFaq()
    {
        _nav.NavigateTo("/faq");
    }
}
