:root[b-tlor3qs2yp] {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: white;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables[b-tlor3qs2yp] {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.admin-main[b-tlor3qs2yp] {
    height: 100vh;
    display: grid;
    grid-template-columns: 15rem auto;
    width:100%;
}
section[b-tlor3qs2yp] {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.stats[b-tlor3qs2yp] {
    /* background-color: aquamarine; */
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

    .stats > div[b-tlor3qs2yp] {
        background-color: white;
        border: 1px solid rgba(156, 155, 155, 0.5);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        cursor: pointer;
        min-width: 30%;
    }

        .stats > div:hover[b-tlor3qs2yp] {
            transform: scale(97%);
        }

.material-symbols-outlined[b-tlor3qs2yp] {
    width: max-content;
    padding: 0.5rem;
    border-radius: 50%;
    font-weight: 700;
}

.total .material-symbols-outlined[b-tlor3qs2yp] {
    background-color: rgba(95, 158, 160, 0.188);
    color: cadetblue;
}

.resolved .material-symbols-outlined[b-tlor3qs2yp] {
    background-color: rgba(85, 107, 47, 0.308);
    color: darkolivegreen;
    font-weight: 700;
}

.unresolved .material-symbols-outlined[b-tlor3qs2yp] {
    background-color: rgba(220, 20, 60, 0.215);
    color: crimson;
}

.middle[b-tlor3qs2yp] {
    /* background-color: aquamarine; */
    display: grid;
    gap: 2rem;
}

    .middle small[b-tlor3qs2yp] {
        font-size: 12px;
        color: rgb(70, 70, 70);
    }

    .middle .left[b-tlor3qs2yp] {
        display: grid;
        gap: 1rem;
    }

.left h1[b-tlor3qs2yp] {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

.left h3[b-tlor3qs2yp] {
    font-family: "Space Grotesk", sans-serif;
}

.complaint-list[b-tlor3qs2yp] {
    /* background-color: cornsilk; */
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

    .complaint-list h1[b-tlor3qs2yp] {
        font-family: "Space Grotesk", sans-serif;
        font-size: 40px;
        /* background-color: aqua; */
        width: 100%;
    }

.c-list[b-tlor3qs2yp] {
    background-color: white;
    border: 1px solid rgba(156, 155, 155, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 95%;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}

.c-list-item[b-tlor3qs2yp] {
    background-color: whitesmoke;
    border: 1px solid rgba(156, 155, 155, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

    .c-list-item:hover[b-tlor3qs2yp] {
        transform: scale(99%);
        box-shadow: none;
    }

.t-row[b-tlor3qs2yp] {
    display: flex;
    flex: auto;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

    .t-row h2[b-tlor3qs2yp] {
        font-weight: 600;
    }

    .t-row small[b-tlor3qs2yp] {
        color: rgb(108, 108, 108);
        font-size: 12px;
    }

.status[b-tlor3qs2yp] {
    font-size: 15px;
    font-weight: 700;
}
@media screen and (max-width: 850px) {
    .stats > div[b-tlor3qs2yp] {
        min-width: 100%;
        padding: 1rem;
    }

    .material-symbols-outlined[b-tlor3qs2yp] {
        font-size: 5px;
        padding: 0.3rem;
    }

    .middle .left[b-tlor3qs2yp] {
        display: flex;
        align-items: baseline;
    }

    .left h1[b-tlor3qs2yp] {
        font-size: 25px;
    }
    .complaint-list[b-tlor3qs2yp]{
        gap:1rem;
    }
    .complaint-list h1[b-tlor3qs2yp] {
        font-size: 30px;
    }
    .middle[b-tlor3qs2yp] {
        gap: 0.3rem;
    }
    .t-row h2[b-tlor3qs2yp]{
        font-size: 15px;
    }
    .c-list-item .status[b-tlor3qs2yp]{
        font-size:12px;
    }
}
