<<<<<<< Updated upstream
/* 
h1.title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
}

.create-com {
    background-color: whitesmoke;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.create-com-form {
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
}

    .create-com-form form {
        padding: 2rem 1rem;
        border-radius: 1rem;
        display: grid;
        gap: 2rem;
        width: 100%;
        background-color: white;
        border: 1px solid rgba(156, 155, 155, 0.5);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        width: 95%;
        padding: 2rem;
        border-radius: 1rem;
        display: grid;
        gap: 1rem;
    }

.form-group {
    display: grid;
    font-size: 20px;
    font-weight: 500;
    gap: 1rem;
    width: 100%;
}

    .form-group input {
        border: 1px solid rgba(156, 155, 155, 0.5);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        padding: 0.6rem 1rem;
        border-radius: 0.4rem;
        outline: none;
        font-size: 16px;
        width: 100%;
    }

        .form-group input:focus {
            box-shadow: none;
        }

.dept-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

    .dept-add .form-group {
        width: 100%;
    }

@media screen and (max-width: 850px) {
    .create-com-form {
        width: 100%;
    }
} */
.modal-container[b-kv8hjw2cwh] {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  background-color: rgba(0, 0, 0, 0.234);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: grid;
  place-items: center;
}
.none[b-kv8hjw2cwh] {
  display: none;
}
.modal[b-kv8hjw2cwh] {
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop-b-kv8hjw2cwh;
  animation-duration: 0.4s;
}
.closebtn[b-kv8hjw2cwh] {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-container span[b-kv8hjw2cwh] {
  background-color: rgb(95, 158, 160);
  border-radius: 0.2rem;
  display: grid;
  place-items: center;
  padding: 0.1rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.modal-content[b-kv8hjw2cwh] {
  width: 95%;
  height: 95%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-header[b-kv8hjw2cwh] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

.modal-header h3[b-kv8hjw2cwh] {
  font-size: 30px;
  flex: 1;
}
.modal-header .time-stat[b-kv8hjw2cwh] {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.modal-header .time-stat p[b-kv8hjw2cwh] {
  font-size: 13px;
  font-weight: bold;
}

.modal-header .time-stat small[b-kv8hjw2cwh] {
  font-size: 12px;
}

.modal-main[b-kv8hjw2cwh] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.modal-desc[b-kv8hjw2cwh] {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  width: 100%;
}

.modal-desc label[b-kv8hjw2cwh] {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.modal-desc textarea[b-kv8hjw2cwh] {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  padding: 1rem;
  height: 120px;
  overflow: auto;
}

.modal-atch[b-kv8hjw2cwh] {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.modal-atchs[b-kv8hjw2cwh] {
  display: flex;
  gap: 0.4rem;
}

.modal-res[b-kv8hjw2cwh] {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  width: 100%;
}

.modal-res label[b-kv8hjw2cwh] {
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  /* font-family: "Space Grotesk", sans-serif; */
}

.modal-res input[b-kv8hjw2cwh] {
  width: 100%;
  resize: none;
  border-radius: 0.3rem;
  padding: 1rem;
}

.modal-main button[b-kv8hjw2cwh] {
  width: 20%;
}
input[b-kv8hjw2cwh] {
  border: 1px solid rgba(156, 155, 155, 0.5);
  padding: 1rem;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

@keyframes animatetop-b-kv8hjw2cwh {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
=======
/*.containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

    .containerr .top {
       
        padding: 1rem 2rem;
        width: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
    }

        .containerr .top .title {
            font-size: 50px;
            color: white;
            font-weight: 700;
        }

.main {
    background-color: white;
    padding: 1.7rem 3rem 2rem;
    display: grid;
    gap: 0.8rem;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 19px 23px 7px rgba(0, 0, 0, 0.1);
}
    .main div{
        display:grid;
        gap:1rem;
    }

    .main label {
        font-size: 30px;
        font-weight: 500;
    }

    .main input {
        padding: 1rem 1.5rem;
        border-radius: 0.7rem;
        border: 1px solid lightgray;
        outline: none;
        font-size: 20px;
        width:100%;
    }

.containerr .button {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

    .containerr .button button {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        height: 3.5rem;
        outline: none;
        background-blend-mode: darken;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: 700;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .containerr .button button:hover {
            color: black;
        }*/
h1.title[b-kv8hjw2cwh] {
  font-family: "Space Grotesk", sans-serif;
  font-size: 40px;
  /* width: 100%; */
}

.create-com[b-kv8hjw2cwh] {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.create-com-form[b-kv8hjw2cwh] {
  width: 80%;
  border-radius: 1rem;
  padding: 1rem;
}

.create-com-form .form[b-kv8hjw2cwh] {
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 95%;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
}

.form-group[b-kv8hjw2cwh] {
  display: grid;
  font-size: 20px;
  font-weight: 500;
  gap: 1rem;
  width: 100%;
}

.form-group input[b-kv8hjw2cwh] {
  border: 1px solid rgba(156, 155, 155, 0.5);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.form-group input:focus[b-kv8hjw2cwh] {
  box-shadow: none;
}

.dept-add[b-kv8hjw2cwh] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.dept-add .form-group[b-kv8hjw2cwh] {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .create-com-form[b-kv8hjw2cwh] {
    width: 100%;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
  }
}
