aside[b-dalomws2ey] {
    width: max-content;
    padding: 1rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 13px 0px 15px -3px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
    aside .side-bar[b-dalomws2ey] {
        margin-top: 10px;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
.side-bar a[b-dalomws2ey] {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    border: 1px solid rgba(156, 155, 155, 0.5);
    padding: 0.7rem;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-family: "Space Grotesk", sans-serif;
}
    .side-bar a:hover[b-dalomws2ey] {
        color: cadetblue;
        background-color: rgba(95, 158, 160, 0.29);
        transform: scale(95%);
    }
