.faq-container[b-55edcrhtbr] {
    width: 90%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

h1.title[b-55edcrhtbr] {
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
    width: 100%;
}
.faq-list[b-55edcrhtbr] {
    background-color: white;
    border: 1px solid rgba(156, 155, 155, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 95%;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}
.faq-header[b-55edcrhtbr] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    width: 100%;
}
.back-title[b-55edcrhtbr] {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.go-back[b-55edcrhtbr] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(95, 158, 160);
}

    .go-back:hover span[b-55edcrhtbr] {
        transform: translateX(-2px);
    }

    .go-back span[b-55edcrhtbr] {
        border-radius: 50%;
        color: white;
    }
.faq[b-55edcrhtbr] {
    background-color: whitesmoke;
    border: 1px solid rgba(156, 155, 155, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    text-decoration:none;
    color:black;
    text-transform:capitalize;
    font-size:25px;
}
    .faq:hover[b-55edcrhtbr] {
        color: white;
        background-color: #0a5169;
        box-shadow: none;
        transform: scale(98%);
    }