.f-container[b-qvmdl33rat] {
    background-color: transparent;
    height: 100vh;
    display: grid;
    place-items: center;
}

    .f-container .main[b-qvmdl33rat] {
        height: 100%;
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* background-color: red; */
    }

        .f-container .main .profile-icon[b-qvmdl33rat] {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem;
            cursor: pointer;
            /* background-color: aqua; */
        }

.profile-icon .icon[b-qvmdl33rat] {
    font-weight: 700;
    font-size: 20px;
}

.profile-icon img[b-qvmdl33rat] {
    border-radius: 50%;
}

.top[b-qvmdl33rat] {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .top .title[b-qvmdl33rat] {
        background-color: blanchedalmond;
        
        background-blend-mode: darken;
        height: 5rem;
        width: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 50px;
        font-size: 50px;
        color: white;
        font-weight: 600;
        border-radius: 10px;
    }

.mainform[b-qvmdl33rat] {
    /* background-color: beige; */
    display: grid;
    place-items: center;
}

    .mainform form[b-qvmdl33rat] {
        background-color: whitesmoke;
        width: 80%;
        padding: 1.7rem 3rem;
        display: grid;
        gap: 0.5rem;
        border-radius: 10px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.295);
    }

        .mainform form .form-input[b-qvmdl33rat] {
            /* background-color: rebeccapurple; */
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

            .mainform form .form-input label[b-qvmdl33rat] {
                font-size: 20px;
                font-weight: 700;
                width: 20%;
            }

            .mainform form .form-input input[b-qvmdl33rat],
            .mainform form .form-input select[b-qvmdl33rat],
            .mainform form .form-input textarea[b-qvmdl33rat] {
                padding: 15px;
                width: 60%;
                outline: none;
                border-radius: 10px;
                border: 1px solid #d0cdc5;
            }

                .mainform form .form-input input:hover[b-qvmdl33rat],
                .mainform form .form-input select:hover[b-qvmdl33rat],
                .mainform form .form-input textarea:hover[b-qvmdl33rat],
                .mainform form .form-input input:focus[b-qvmdl33rat],
                .mainform form .form-input select:focus[b-qvmdl33rat],
                .mainform form .form-input textarea:focus[b-qvmdl33rat] {
                    border: 1px solid black;
                }

                .mainform form .form-input input[b-qvmdl33rat]::selection,
                .mainform form .form-input select[b-qvmdl33rat]::selection,
                .mainform form .form-input textarea[b-qvmdl33rat]::selection {
                    background-color: black;
                    color: white;
                }

textarea[b-qvmdl33rat] {
    resize: none;
    overflow: auto;
}

.bottom[b-qvmdl33rat] {
    display: flex;
    justify-content: center;
}

    .bottom .btmbutton[b-qvmdl33rat] {
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }

        .bottom .btmbutton button[b-qvmdl33rat] {
            padding: 0 50px;
            height: 3.5rem;
            outline: none;
            
            background-blend-mode: darken;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 700;
            border-radius: 10px;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

            .bottom .btmbutton button:hover[b-qvmdl33rat] {
                color: black;
            }
