.p-container[b-v6n8fxrjad] {
    background-color: transparent;
    height: 100vh;
    display: grid;
    place-items: center;
}

    .p-container .main[b-v6n8fxrjad] {
        height: 100%;
        width: 80%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: red; */
    }

        .p-container .main .profile-icon[b-v6n8fxrjad] {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0rem;
            cursor: pointer;
            /* background-color: aqua; */
        }

.profile-icon .icon[b-v6n8fxrjad] {
    font-weight: 700;
    font-size: 20px;
}

.profile-icon img[b-v6n8fxrjad] {
    border-radius: 50%;
}

.top[b-v6n8fxrjad] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg-sidebar-mobile2.png");
    background-blend-mode: darken;
    border-radius: 10px;
    background-color: blanchedalmond;
    background-repeat: repeat-x;
    background-size: cover;
}

    .top .title[b-v6n8fxrjad] {
        height: 5rem;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 50px;
        font-size: 50px;
        color: white;
        font-weight: 600;
    }

.backbtn i[b-v6n8fxrjad] {
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #f9818e;
    background-color: rgba(255, 255, 255, 0.171);
}

.post[b-v6n8fxrjad] {
    background-color: #d0cdc5;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
